= render "shared/header"

.mypage__show
  .mypage__show--inner
    = render partial: 'side'

    .content__wrapper
      .section__block--01
        .section__head
          .section__head--img
            = image_tag "member_photo.png", alt: "メンバー写真"
          %p.section__head--nickname ニックネーム
          .section__head--txt-wrap
            %ul
              %li.section__head--txt
                評価 0
              %li.section__head--txt
                出品数 0
    
      
        %h3.section__titile--sub お知らせ
        .section__products--list-wrap
          %ul
            %li.section__products--list
              = link_to "#"do
                【コンビニで資材が無料!?】お得な出品情報はこちらをタップ！
            %li.section__products--list
              = link_to "#"do
                【コンビニで資材が無料!?】お得な出品情報はこちらをタップ！
            %li.section__products--list
              = link_to "#"do
                【コンビニで資材が無料!?】お得な出品情報はこちらをタップ！
        %p.section__products--link-btn
          = link_to "#" do
            一覧をみる

      .section__block--02
        %h2.section__titile 購入した商品一覧
        %h3.section__titile--sub 購入済み
        .section__products--list-wrap
          %ul
            %li.section__products--list
              = link_to "#"do
                商品１
            %li.section__products--list
              = link_to "#"do
                商品２
            %li.section__products--list
              = link_to "#"do
                商品３
        %p.section__products--link-btn
          = link_to "#" do
            一覧をみる

= render "shared/footer"
= render "shared/purchase-btn"