= render "shared/header"

.mypage__show
  .mypage__show--inner
    = render partial: 'side'

    .content__wrapper
      .content__title
        %h2 本人情報の登録

      .content__form--wrapper
        .content__attention
        %p 
          お客さまの本人情報をご登録ください。
          %br
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。

        = form_for [@user], :html => {class: "content__form--from"} do |f|

          .content__form--input
            %label
              %p ニックネーム
              = f.text_field :nickname, class: "", placeholder: @user.nickname
          .content__form--input
            %label
              %p お名前
              = f.text_field :family_name, class: "", placeholder: @user.family_name
              = f.text_field :last_name, class: "", placeholder: @user.last_name
          .content__form--input
            %label
              %p フリガナ
              = f.text_field :family_name_kana, class: "", placeholder: @user.family_name_kana
              = f.text_field :last_name_kana, class: "", placeholder: @user.last_name_kana
          .content__form--input
            %label
              %p メールアドレス
              = f.text_field :email, class: "", placeholder: @user.email
          = f.submit class: "content__form--btn", value: "登録する"

= render "shared/footer"
