.category__index

  .category__wrapper

    .category__title
      %h2 カテゴリー一覧
    .category__list
      - @category_parent.each do |parent|  
        = link_to categories_path(parent), class: "category__list--parent" do
          %p 
            = parent.name
    - @category_parent.each do |parent|
      .category__list--child
        .parent
          .parent__title
            = link_to categories_path(parent) do
              %h5
                = parent.name
          .parent__list
            = link_to categories_path(parent), class: "all" do
              %p すべて
            
            - parent.children.each do |children|
              .child__title
                = link_to categories_path(children), class: "child__list--name" do
                  %h6
                    = children.name
                
                    .child_box
                      .child__list
                        = link_to categories_path(children), class: "child__list--all" do
                          %p すべて
                      - children.children.each do |grandchild|
                        = link_to categories_path(grandchild), class: "grandchild__list--name" do
                          = grandchild.name