= render "shared/header"
.products-detail-page
  .products-detail-page__bread-crumbs
    %ul
      %li
        FURIMA
      %li
        <i class="fas fa-angle-right"></i>
      %li
        レディース
      %li
        <i class="fas fa-angle-right"></i>
      %li
        トップス
      %li
        <i class="fas fa-angle-right"></i>
      %li
        Tシャツ/カットソー(半袖/袖なし)
      %li
        <i class="fas fa-angle-right"></i>
      %li
        product1
  .products-detail-page__main
    .products-detail-page__main__head__contents
      .products-detail-page__main__head__contents__top__item-box
        .products-detail-page__main__head__contents__top__item-box__name
          product1
        .products-detail-page__main__head__contents__top__item-box__body
          %ul#slider.products-detail-page__main__head__contents__top__item-box__body__ul
            - @product_images.each do |pic|
              %li.slider__item
                = image_tag pic.image, height:"346px"

          %ul#slider__thumbnail.products-detail-page__main__head__contents__top__item-box__body__ul
            - @product_images.each do |pic|
              %li.slider__thumbnail--item
                = image_tag pic.image, width: "75px",height: "87px"
        .products-detail-page__main__head__contents__top__item-box__price
          %span
            ¥10000
          .products-detail-page__main__head__contents__top__item-box__price__detail
            (税込)送料込み
        .products-detail-page__main__head__contents__top__item-box__comments
          親譲りの無鉄砲で小供の時から損ばかりしている。 小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。 弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        .products-detail-page__main__head__contents__top__item-box__table
          %table
            %tbody
              %tr
                %th
                  出品者
                  %td
                    hoge
              %tr
                %th
                  カテゴリー
                  %td
                    レディース
                    %br
                    トップス
                    %br
                    Tシャツ/カットソー(半袖/袖なし)
              %tr
                %th
                  ブランド
                  %td
              %tr
                %th
                  商品のサイズ
                  %td
              %tr
                %th
                  商品の状態
                  %td
                    新品/未使用
              %tr
                %th
                  配送料の負担
                  %td
                    送料込み（出品者負担）
              %tr
                %th
                  発送元の地域
                  %td
                    青森県
              %tr
                %th
                  発送日の目安
                  %td
                    1-2日で発送
        .products-detail-page__main__head__contents__top__item-box__option-area
          %ul.like
            %li.like-btn
              <i class="fas fa-star"></i>
              お気に入り 0
          %ul.tsuho
            %li.tsuho-btn
              %a
              <i class="fas fa-flag"></i>
              不適切な商品の通報
      .products-detail-page__main__head__contents__top__comment-box
        .products-detail-page__main__head__contents__top__comment-box__contents
        .form
          %textarea
            コメントコメントコメントコメント
          .products-detail-page__main__head__contents__top__comment-box__notice-msg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .products-detail-page__main__head__contents__top__comment-box__btn
            <i class="fas fa-comment"></i>
            コメントする
      .products-detail-page__main__head__contents__links
        .products-detail-page__main__head__contents__links__before
          %li
            <i class="fas fa-angle-left"></i>
            %span
              前の商品
        .products-detail-page__main__head__contents__links__after
          %li
            後ろの商品
            %span
              <i class="fas fa-angle-right"></i>
      .products-detail-page__main__head__contents__related-items
        %a
          レディースをもっと見る
.products-detail-page__wrapper
  = render "shared/app-banner"
  = render "shared/footer"
  = render "shared/purchase-btn"